<div>

    <ul>
   <li> <a routerLink="">Cricket event</a></li>
   <li><a routerLink="/venues">Venues</a></li>
   <li><a routerLink="/teams">Teams</a></li>
   <li><a routerLink="/referee">Referee</a></li>
   <li style="float: right;"> <a routerLink="/login">Logout</a></li>
</ul>
</div>
<router-outlet></router-outlet>

<h1>Welcome Admin...</h1>

<div class="clearfix">
    <div class="img-container">
        <figure>
            <div class="row">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOgkup83-qyLJGuNMe59NOMG_ky0NjdStIuk7GDLNynoIMe7sY79APsZdFK6RLX5HVaaAoM9kLlQM&usqp=CAU&ec=48665701">
              <img src="https://qph.cf2.quoracdn.net/main-qimg-e23f47617e90e438b810db2d529f5d3b-lq">
            </div>


        </figure>
    </div>
</div>
<footer><h4>Cricket Management System</h4><p>A Team Dark Matrix Solutions</p></footer>
<router-outlet></router-outlet>

