<div class="body">
    <div class="nav">
       <ul>
        <li><a routerLink="/adminhome">Cricket event</a></li>
        <li><a routerLink="/venues">Venues</a></li>
        <li> <a routerLink="/teams">Teams</a></li>
       <li> <a routerLink="/referee">Referee</a></li>
       <li style="float: right;"> <a routerLink="/login">Logout</a></li>
        </ul>
        
    </div>
    
    <div class="dis">
        <div class="add">
            <p> Add VENUE</p>
            <br>
            <form #userForm="ngForm" (ngSubmit)="addvenues(userForm.value)">
                <input type="text" formControllName name="venueId"placeholder="Enter the venue id"required>
                <br>
                <br>
                <input type="text" ngModel name="venueName"placeholder="Enter the venue name"required>
                <br>
                <br>
                <input type="text" ngModel name="venueImageURL"placeholder="Enter the venue Image url"required>
                <br>
                <br>
                <input type="text" ngModel name="venueDescription"placeholder="Enter the venue description"required>
                <br>
                <br>
                <input type="text" ngModel name="venueLocation"placeholder="Enter the venue location"required>
                <br>
                <br>
                <!-- <input type="text" ngModel name="veneu capcity"placeholder="Enter the capcity of venue"required>
                <br> -->
                
                <button  class="btn btn-primary btn-rounded">
                    Add venue
                </button>
                <!-- <button (click)="update()">update</button> -->
    
                
            </form>
            </div>
        </div>
    <!-- ------------------ -->
         <div class="disply">
            <div class="tab">
                <table border="2" class="table  table-striped">
                    <thead>
                        <tr><th scope="col">VenueId</th>
                            <th scope="col">VenueName</th>
                            <th scope="col">VenueImageUrl</th>
                            <th scope="col">venueDescription</th>
                            <th scope="col">venueLocation</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                 <tbody>
                        <tr *ngFor="let v of venues">
                         <td>{{v.venueId}}</td> 
                        <td>{{v.venueName}}</td>
                        <td>{{v.venueImageURL}}</td>
                        <td>{{v.venueDescription}}</td>
                        <td>{{v.venueLocation}}</td>
                        
    
                        <td><button (click)="deletevenues(v.venueId)" class="fa fa-trash" style="font-size:10px;color: red ;">delete</button>
                            
                        </td>
                         
                        
                        </tr>
                        
                        <router-outlet></router-outlet>
                    </tbody>
                </table>
    
            </div>
        </div>
         
            </div>
            <footer><h4>Cricket Management System</h4><p>A Team Dark Matrix Solutions</p></footer>
        
